<!-- todo_list.html -->
{% extends 'base.html' %}

{% block title %}Todo List{% endblock %}

{% block content %}
    <div class="row">
        <div class="col mb-3">
            <h2>Todo List</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <a href="{% url 'todo_create' %}" class="btn btn-success rounded-pill">Add New Todo</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                        <tr>
                            <td>{{ todo.title }}</td>
                            <td>{{ todo.description }}</td>
                            <td>{{ todo.completion_status_icon }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">No todo items yet.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}