{% extends 'base.html' %}
{% block title %}Todo Management{% endblock %}
{% block content %}
    <div class="row">
        <div class="col mb-3">
            <h2>Todo Management</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <a href="{% url 'todo_create' %}" class="btn btn-success rounded-pill">Add New Todo</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Completed</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                        <tr>
                            <td>{{ todo.title }}</td>
                            <td>
                                <button class="btn btn-{% if todo.completed %}success{% else %}danger{% endif %} btn-sm toggle-completion" data-todo-id="{{ todo.id }}">
                                    {% if todo.completed %}
                                        <i class="fa fa-check"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                    {% endif %}
                                </button>
                            </td>                                                                                
                            <td>
                               
                                <a href="{% url 'todo_update' todo.id %}" class="btn btn-primary rounded-pill btn-sm mr-1"><i class="fa fa-edit"></i></a>
                                <a href="{% url 'todo_delete' todo.id %}" class="btn btn-danger rounded-pill btn-sm"><i class="fa fa-trash"></i></a>
                            </td>                                                       
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No todo items yet.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
    <!-- jQuery library (CDN) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    
    <!-- Custom JavaScript/jQuery code -->
    <script>
        $(document).ready(function() {
            $('.toggle-completion').click(function() {
                const todoId = $(this).data('todo-id');
                const button = $(this);
        
                $.ajax({
                    url: `/toggle-completion/${todoId}/`,
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                    },
                    success: function(response) {
                        button.toggleClass('btn-success btn-danger');
                        if (response.completed) {
                            button.find('i').removeClass('fa-times').addClass('fa-check');
                        } else {
                            button.find('i').removeClass('fa-check').addClass('fa-times');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error toggling completion:', error);
                    }
                });
            });
        });        
    </script>
    
    
{% endblock %}
